
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_REFERER} !^http://(.+.)?yandex.ru/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(.+.)?undsoft.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(.+.)?yandex.net/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(.+.)?feedburner.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(.+.)?mail.ru/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(.+.)?poisk.ru/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(.+.)?yourdomain.ru/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^$ [NC]
RewriteRule .*.(jpe?g|gif|bmp|png)$ - [F]
</IfModule>
FileETag MTime Size
<ifmodule mod_expires.c>
<filesmatch ".(jpg|gif|png|css|js)$">
ExpiresActive on
ExpiresDefault "access plus 1 year"
</filesmatch>
</ifmodule>

# END WordPress
