#handle1 .rs-handle  {
    background: url(../images/tr.png) center center no-repeat;
    width: 400px!important;
    height: 400px!important;
    position: absolute;
    left: -9px;
    top: -201px;
    background-size: 88%;
    background-position: 24px -24px;
}
.disc_wrap {
    margin: 100px auto 0;
    position: relative;
    padding: 60px;
    border: 1px solid #555;
    border-radius: 50%;
    width: 522px;
}
#handle1 {
    transform: rotate(-15deg);
}
.elem_pos {
    position: absolute;
    width: 80px;
    z-index: 50;
    cursor: pointer;
}
.rs-bar {
    /*transition: all 0.1s linear!important;*/
}
svg path
{
    stroke-width: 10px;
    stroke: #777;
}
.elem_pos_t.elem_pos_active svg path
{
    /*stroke: #ff0000;*/
    stroke: #fdb435;
    stroke-width: 25px;
}
.elem_pos_r.elem_pos_active svg path
{
    /*stroke: #0072ff;*/
    stroke: #fdb435;
    stroke-width: 25px;
}
.elem_pos_s.elem_pos_active svg path
{
    /*stroke: #00f3ff;*/
    stroke: #fdb435;
    stroke-width: 25px;
}
.elem_pos_d.elem_pos_active svg path
{
    /*stroke: #501414;*/
    stroke: #fdb435;
    stroke-width: 25px;
}
.elem_pos svg {
    width: 80px;
    height: 100px;
}
span.rs-tooltip.rs-tooltip-text {
    display: none;
}
span.rs-seperator.rs-border {
    display: none;
}
#handle1 .rs-tooltip  {
    top: 75%;
    font-size: 11px;
}
#handle1 .rs-tooltip div  {
    text-align: center;
    background: orange;
    color: white;
    border-radius: 4px;
    padding: 1px 5px 2px;
    margin-top: 4px;
}
.rs-range-color
{
    background-color: transparent;
}
.rs-block .rs-inner
{
    border: none;
}
.elem_pos_one
{
    left: 167px;
    top: -12px;
}
.elem_pos_two
{
    left: 55px;
    top: 375px;
}
.elem_pos_three
{
    left: 445px;
    top: 262px;
}
.elem_pos_four
{
    left: 273px;
    top: -16px;
}
.elem_pos_five
{
    left: 2px;
    top: 266px;
}
.elem_pos_six
{
    left: 389px;
    top: 353px;
}
.elem_pos_seven
{
    left: 67px;
    top: 33px;
}
.elem_pos_eight
{
    left: 444px;
    top: 148px;
}
.elem_pos_nine
{
    left: 156px;
    top: 425px;
}
.elem_pos_ten
{
    left: 2px;
    top: 151px;
}
.elem_pos_eleven
{
    left: 383px;
    top: 54px;
}
.elem_pos_twelve
{
    left: 280px;
    top: 433px;
}
@media (max-width: 720px) {
    #handle1 .rs-handle {
        width: 220px !important;
        height: 220px !important;
        left: -12px;
        top: -111px;
        background-position: 15px -12px;
    }
    .disc_wrap {
        width: 342px;
    }
    .elem_pos_one
    {
        left: 100px;
        top: -14px;
    }
    .elem_pos_two
    {
        left: 24px;
        top: 219px;
    }
    .elem_pos_three
    {
        left: 265px;
        top: 168px;
    }
    .elem_pos_four
    {
        left: 166px;
        top: -19px;
    }
    .elem_pos_five
    {
        left: -2px;
        top: 153px;
    }
    .elem_pos_six
    {
        left: 233px;
        top: 207px;
    }
    .elem_pos_seven
    {
        left: 24px;
        top: 20px;
    }
    .elem_pos_eight
    {
        left: 268px;
        top: 91px;
    }
    .elem_pos_nine
    {
        left: 99px;
        top: 255px;
    }
    .elem_pos_ten
    {
        left: -4px;
        top: 95px;
    }
    .elem_pos_eleven
    {
        left: 232px;
        top: 33px;
    }
    .elem_pos_twelve
    {
        left: 166px;
        top: 256px;
    }
}